<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li><a href="/">首页</a>>个人中心>我的课程</li><br>
<ul>
    <li><a href="{% url 'users:user_info' %}">个人资料</a></li>
    <li><a href="{% url 'users:user_course' %}">我的课程</a></li>
    <li><a href="{% url 'users:user_love' %}">我的收藏</a></li>
    <li><a href="{% url 'users:user_message' %}">我的信息</a></li>
</ul>
<h1>我的课程</h1>
{% for course in course_list %}
    <br>
    <a href="{% url 'courses:course_detail' course.id %}"><img width="214" height="190" src="{{ MEDIA_URL }}{{ course.image }}"></a>
    <a href="{% url 'courses:course_detail' course.id %}">{{ course.name }}</a>
    课时:{{ course.study_time }}学习人数:{{ course.study_num }}机构名称:{{ course.orginfo.name }}
    <span>{{ course.love_num }}</span><br>
{% endfor %}
</body>
</html>